/*------------START-reset-*/
*{
    font-family: 'Roboto', 'HelveticaNenu', 'Helvetica', Arial, Tahoma, sans-serif;
}
*, *:before, *:after {
    box-sizing: border-box;
}
html{
    height: 100%;
}
body {
    min-width: 320px;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 12px;
    font-style: normal;
    color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
}
h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ul,ol,li,form,fieldset,table,thead,tbody,tfoot,tr,td,caption {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
p{
    margin-bottom: 5px;
    line-height: 1.3em;
}
p img {
    max-width: 90% !important;
    height: auto !important;
    position: relative;
    display: block;
    margin: 0 auto !important;
}
ul,ol {
    list-style: none;
}
img {
    vertical-align: top;
    border: 0;
}
table {
    width: 100%;
    font-size: 1em;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

thead{
    font-weight: bold;
}
form,fieldset {
    border: 0;
}

input{
    font-weight: 300;
    font-size: 12px;
    font-family: 'Roboto', 'HelveticaNenu', 'Helvetica', Arial, Tahoma, sans-serif;
}
textarea {
    margin: 0;
    padding: 0;
    vertical-align: top;
    color: #666;
    border: 0;
    background: 0;
    line-height: 30px;
    height: 30px;
    min-width: 175px;
    text-align: center;
    background: #DDD;
    padding: 5px;
    font-weight: 300;
    font-size: 12px;
    font-family: 'Roboto', 'HelveticaNenu', 'Helvetica', Arial, Tahoma, sans-serif;
}


/* 
select{

    background: rgba(0, 0, 0, 0);
    border: #243D58 1px solid;
    border-radius: 3px;
    width: 100%;
    color: #66C0F4;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
    background: url("../img/icons/arrow_down_blue.png") no-repeat 50%;
    background-size: 30px;
    font-size: 12px;
    font-weight: 300;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    padding: 0 5px;
}
select option{
    height: 25px;
    line-height: 25px !important;
    background: #FFF;
    font-weight: 300 !important;
    color: #0E1015;
} */
/* input[type="text"], input[type="number"], input[type="email"], input[type="password"], input[type="search"] {
    margin: 0;
    padding: 0;
    vertical-align: top;
    color: #105B63;
        background: #EBEBE4;
        height: 30px;
        line-height: 30px;
        border: 0;
        border-bottom: 1px solid #DDD;
        font-size: 12px;
        padding: 0 4px;
        width: 175px;
} */

::-webkit-input-placeholder {color: #243D58;font-weight: 300; font-style: italic;}
:-moz-placeholder {color: #243D58;font-weight: 300;font-style: italic;}
::-moz-placeholder {color: #243D58;font-weight: 300;}
:-ms-input-placeholder {color: #243D58;font-weight: 300;}

input:active,input:focus,textarea:active,textarea:focus {
    color: #444;
}
textarea {
    resize: none;
}
legend {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    visibility: hidden;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
}
button {
    width: auto;
    margin: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;
    border: 0;
    background: 0;
    color: #666;
    vertical-align: top;
}
button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner{
    border: 0;
    padding: 0;
}
input,button,textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -webkit-box-shadow: 0;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
}

input[type="radio"] {
    -webkit-appearance: radio;
}
a {
    color: #66C0F4;
    text-decoration: none;
}
a:hover,a:focus {
    /*color: #105B63;*/
}
/*------------END-reset-*/



/*------------START-utility-*/
/* .orange, .green, .yellow, .purple, .gray{ color: #fff; }
.orange{ background-color: #ff6e40; }
.green{ background-color: rgb(163,205,14); }
.yellow{ background-color: #f9a825; }
.purple{ background-color: #9575cd; }
.gray{ background-color: #888888; }
.btn-disable{ background-color: #171A21 !important; color: #66C0F4 !important;}

 */
/* .btn {
    background: #4c6aaa;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-style: normal;
    border-radius: 2px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
} */


.btn{
    width: 100%;
    display: block;
	color: #FFF;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    font-size: 15px;
	font-weight: 300;
}
.btn:hover{
    /*background-color: #66C0F4;
    color: #fff;*/
}

.fullpage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
}
#loading-box{
    /* display: block; */
    z-index: 102;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
	background: rgba(0, 0, 0, 0.3) url("http://9chau.com/public/front/assets/img/loading/loading-spinning-bubbles.svg") no-repeat 50% 50%;
}
.confirm_ok{
    font-weight: 300;
    font-size: 14px;
    color: #66c0f4;
    padding: 15px 0 20px;
}
.confirm_center{
    font-weight: 300;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    padding: 20px 0;
}

.noti{
    padding: 10px;
    background: #FE8;
    line-height: 1.5em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.noti.warning{
    text-align: center;
    color: #F00;
    font-weight: 300;
}
.noti a{
    font-weight:500;
}

/*------------END-utility-*/




/*------------START-ewrap*/
#ewrap {
	clear: both;
	position: relative;
	margin: 0 auto;
	max-width: 460px;
	width: 94%;
	/* background-color: rgb(245, 245, 245); */
	background-color: rgb(255, 255, 255);
	display: table;
	top: 10px;
	border-radius: 8px;
	/* padding: 8px; */
}


#ewrap .hotline{
		display: block;
    text-align: center;
    font-size: 14px;
	padding: 5px;
}

#ewrap .hotline span{
    font-weight: 700;
}
/*------------END-ewrap*/


.cyan{ background-color: #66C0F4; }
.green{ background-color: rgb(163,205,14);}
.fb_color{ background-color: #4C6AAA;}
.blue{ background-color: #419acd;color:#ffffff;}
.smoke{ background-color: #66c0f4; color:#ffffff;}
.bg_header{
	background-color: #fff;
	border-radius: 8px 8px 0 0;
}

.btn_close{
  width: 28px;
  height: 28px;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../img/icons/close.png") no-repeat 50%;
  background-size: 18px;
  text-indent: -999em;
}


.btn_back{
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../img/icons/arrow_left.png") no-repeat 50%;
  background-size: 18px;
  text-indent: -999em;
}

/*----page_login----*/
.page_login{
}
.page_login .hotline{
    padding: 10px 0 0 !important;
}

.page_login .bg_body{
	background-color: rgb(245,245,245);
	border-radius: 0 0 8px 8px;
	padding-bottom: 10px;
}
	
	
.page_login .logo{
  text-align: center;
  display: block;
  margin: 5px auto;
  width: auto;
  height: 28px;
}

	
.page_login ul.tabs{
  display: table;
  vertical-align: middle;
  list-style: none;
  width: 95%;
    padding: 0 20px;
}

.page_login .logo_tab {
	display: table-cell;
	width: 38%;
	vertical-align: middle;
}
	
.page_login  ul.tabs li{
	color: rgb(195, 195, 195);
	display: table-cell;
	padding: 10px 15px;
	cursor: pointer;
	width: 32%;
	text-align: center;
	font-weight: 500;
	border-right: 1px solid #eee;
}

.page_login  ul.tabs li:last-of-type{
	border-right: none;
}
.page_login  ul.tabs li.current{
  color: rgb(102, 192, 244);
  border-bottom: 3px solid rgb(102, 192, 244);
}
.page_login  .tab-content{
    color:#fff;
      padding: 10px 10px 0;
    display: none;
}
.page_login .tab-content.current{
    display: block;
}

/*
.tab-content input[type="password"], .tab-content input[type="text"]{
    width: 100%;
    background: none;
    border: #243D58 1px solid;
    border-radius: 3px;
    height: 25px;
    padding: 5px;
    color: #66C0F4;
    font-size: 13px;
    line-height: 25px;
}
*/
.page_login .tab-content .title{
    font-size: 13px;
    font-weight: 500;
    padding: 5px 0;
}

	
.page_login .form_full{
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 0;
	text-align: center;
}

.page_login .btn_group{
    margin: 0 auto;
        padding: 0 20px;
    padding-bottom: 0;
    text-align: center;
    width: 100%;
    display: table;
    vertical-align: middle;
}
.page_login .btn_group div{
	display: table-cell;
    vertical-align: middle;
	width: 50%;
}

.page_login .btn_group div:first-of-type{
	padding-right: 5px;
}
.page_login .btn_group div:last-of-type{
	padding-left: 5px;
}

.form_full input[type="text"],.form_full input[type="password"] {
width: 100%;
  background: none;
  border: rgb(213, 213, 213) 1px solid;
  border-radius: 3px;
  height: 30px;
  padding: 5px 10px;
  color: rgb(23, 26, 33);
  margin-bottom: 8px;
  font-size: 14px;
      background-color: #fff;
}

.form_full .tcolumn{
	display: table;
	vertical-align: middle;
	width: 100%;
	margin: 5px 0 12px;
}

.form_full .tcolumn div{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}
.form_full .tcolumn div:last-of-type{
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.form_full .dieukhoan{
	color: #000;
	margin: 5px 0 12px;
	font-size: 15px;
}
.form_full .dieukhoan input{
	height: 16px;
	width: 15px;
	margin: 0 4px 0 0;
	vertical-align: middle;
}
.form_full .dieukhoan button{
	text-decoration: underline;
	font-size: 15px;
	color: #66C0F4;
	font-weight: 300;
}

.form_full .content_confirm{
    display: none;
}

.form_full .text{
    color: #fff;
    font-size: 13px;
    margin-bottom: 20px;
}
.form_full .text button{
    color: #a3cd0e;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

.form_full .show{
    color: #66C0F4;
    font-size: 13px;
    margin-bottom: 20px;
}

.form_full .show span{
    font-weight: 700;
}


.form_full input.disabled{
    background: #243d58;
}


.form_full input::-webkit-input-placeholder { color: #274F7A; }
.form_full input::-moz-placeholder { color: #274F7A; }
.form_full input::-ms-input-placeholder { color: #274F7A; }


.form_full .forget_link{
    font-size: 15px;
    text-align: right;
    display: block;
    color: #FFF;
    margin: 0 auto 8px;
    padding: 0 0 5px;
    right: 0;
}


.page_login .btn_login{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
	margin-bottom: 10px;
}

.page_login .btn_fb{
    color: #FFF;
	padding-left: 10px;
    /* background-image: url("../img/icons/facebook.png"); */
    background-repeat: no-repeat;
    background-position: 12px 50%;
    background-size: 23px;
}

.form_full .btn_signup{
    color: #FFF;
    padding-left: 20px;
    background-image: url("../img/icons/cuuchau.png");
    background-repeat: no-repeat;
    background-position: 12px 50%;
    background-size: 23px;
}

.form_full .activestatus{
    display:none;
    background: #171A21;
    font-size: 11px;
    padding: 7px 10px;
    color: #D5D5D5;
    font-style: italic;
    border-radius: 5px;
    margin-bottom: 15px;
}
.form_full .activestatus a{
    font-weight: 700;
    color: #fff;
    text-decoration: underline;
}


.form_full .btn_forget{
    width: 220px;
    display: block;
    height: 28px;
    line-height: 28px;
    background-color: #D5D5C5;
    border-radius: 3px;
    font-size: 13px;
    margin: 0 auto;
    color: #171A21;
    margin-bottom: 16px;
}

.form_full .center{
    text-align:center;
}

.form_full .btn_group{
    display: table;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.form_full .btn_group div{
    display: table-cell;
    vertical-align: middle;
}

.form_full .btn_haft{
    display: block;
    text-align: center;
    width: 110px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 300;
}




/* page_chon */
.page_chon{
}

.page_chon .bg_body{
    background-color: rgb(245,245,245);
    border-radius: 0 0 8px 8px;
    padding: 15px 20px 10px;
}
.page_chon .logo_tab {
	display: table-row;
}

.page_chon .logo_tab .logo {
  text-align: center;
  display: block;
  margin: 15px auto;
  width: auto;
  height: 40px;
}

.page_chon .account_box {
    border: 1px rgb(213, 213, 213) solid;
    display: table;
    width: 100%;
    background-color: #fff;
    height: 40px;
    border-radius: 5px;
    padding: 5px;

}

.page_chon .account_box > div{
display: table-cell;
  vertical-align: middle;
}

.page_chon .account_box .account {
    font-size: 14px;
	padding-left: 5px;
}
.page_chon .account_box .account .name{
	color: rgb(30,128,242);
	font-weight: 700;
}

.page_chon .account_box .update {
	width: 40px;
}
.page_chon .lbl_gameacc {
	font-size: 14px;
	font-style: italic;
	padding: 10px 0;
}
.page_chon .lbl_gameacc .game {
	font-style: normal;
	font-weight: 700;
	color: rgb(30,128,242);
}

.page_chon  .btn_pln{
	margin-bottom: 10px;
	width: 70%;
}

.page_chon  .btn_update {
	width: 40px;
	height: 40px;
	text-indent: -999em;
    background: url("../img/icons/reload.png") no-repeat 50%;
    background-size: 40px;
    padding: 0;
}

.page_chon  .gameacc_list{
    border: 1px rgb(213, 213, 213) solid;
    display: table;
    width: 100%;
    background-color: #fff;
	border-radius: 5px;
	  padding: 2px 5px;
	    margin-bottom: 10px;
  
}
.gameacc_list > div{
	display: table-cell;
	vertical-align: middle;
}

.gameacc_list  .block_add label{

	width: 100%;
	  display: table-cell;
	  vertical-align: middle;
	font-size: 14px;
	padding: 5px;
}
.gameacc_list  .block_add input{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 90%;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 6px;
    padding-left: 5px;
    padding-top: 5px;
    color: rgb(30, 128, 242);
}

.gameacc_list .disabled{
	display:none;
}

.gameacc_list  .block_add input::-webkit-input-placeholder {color: rgb(30, 128, 242);font-weight: 300; font-style: italic;font-size:15px;}
.gameacc_list  .block_add input:-moz-placeholder {color: rgb(30, 128, 242);font-weight: 300;font-style: italic;font-size:15px;}
.gameacc_list  .block_add input::-moz-placeholder {color: rgb(30, 128, 242);font-weight: 300;font-size:15px;}
.gameacc_list  .block_add input:-ms-input-placeholder {color: rgb(30, 128, 242);font-weight: 300;font-size:15px;}

.gameacc_list select{
    border: none;
    height: 65px;
    width: 98%;
    padding: 3px 5px;
}

.gameacc_list .block select option{
	font-size: 14px;
    padding: 5px;
    font-weight: 700 !important;
    color: rgb(30,128,242);
}
.gameacc_list .block select option:checked{
	color: #fff;
	background-color: rgb(30,128,242);
}

.page_chon .gameacc_list .add {
    width: 40px;
}

.page_chon .btn {
	  width: 80%;
}

.page_chon .btn_add {
    width: 40px;
    height: 40px;
    text-indent: -999em;
    background: url("../img/icons/add_user.png") no-repeat 50%;
    background-size: 40px;
    padding: 0;
}


.page_chon .btn_add_back {
    background: url("../img/icons/arrow_left.png") no-repeat 50%;
    background-size: 40px;
}


/* profile */


.page_profile .profile{
  padding: 15px 15px 10px 20px;
  display: table;
  width: 96%;
}



.page_profile .profile > div {
  display: table-cell;
  vertical-align: middle;
}

.page_profile .profile .avatar{
width: 45px;
  height: 45px;
}

.page_profile .profile .avatar img {
width: 45px;
  height: 45px;
}

.page_profile .profile .info {
	padding: 0 10px;
}

.page_profile .profile  .info .name {
  background-color: rgb(29, 120, 243);
  padding: 1px 5px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 5px;
  display: table;
  font-weight: 500;
}
.page_profile .profile  .info .coin {
	color: rgb(29, 120, 243);
	font-weight: 500;
	font-size: 14px;
}

.page_profile .profile .logout {
	width: 70px;
}
.page_profile .profile .btn_logout {
background: rgb(102, 192, 244);
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-style: normal;
  height: 24px;
  line-height: 20px;
  padding: 0 5px;
  text-align: center;
  text-decoration: none;
  width: 70px;
}


.page_profile .bg_body{
  background-color: rgb(245, 245, 245);
  border-radius: 0 0 8px 8px;
  padding: 10px;
}

.page_profile ul.tabs{
  display: table;
  vertical-align: middle;
  list-style: none;
  width: 100%;
  padding: 0 20px;
}

.page_profile .logo_tab {
	display: table-cell;
	width: 38%;
	vertical-align: middle;
}
	
.page_profile  ul.tabs li{
	color: rgb(195, 195, 195);
	display: table-cell;
	padding: 10px;
	cursor: pointer;
	width: 32%;
	text-align: center;
	font-weight: 500;
	border-right: 1px solid rgb(238, 238, 238);
}
.page_profile  ul.tabs li:last-of-type{
	border-right: none;
}
.page_profile  ul.tabs li.current{
  color: rgb(102, 192, 244);
  border-bottom: 3px solid rgb(102, 192, 244);
}
.page_profile  .tab-content{
    color:#fff;
  padding-top: 10px;
    display: none;
}
.page_profile .tab-content.current{
    display: block;
}

/*
.tab-content input[type="password"], .tab-content input[type="text"]{
    width: 100%;
    background: none;
    border: #243D58 1px solid;
    border-radius: 3px;
    height: 25px;
    padding: 5px;
    color: #66C0F4;
    font-size: 13px;
    line-height: 25px;
}
*/
.page_profile .tab-content .title{
	font-size: 13px;
	font-weight: 500;
	padding: 5px 0;
}


.page_profile .form_full{
	margin: 0 auto;
	padding: 0 10px 10px;
	text-align: center;
}


.page_profile .form_full .list_item{
	display: table;
	vertical-align: middle;
	width: 100%;
	color: rgb(23, 26, 33);
	font-size: 14px;

}


.page_profile .form_full .list_item:hover,
.page_profile .form_full .list_item:focus,
.page_profile .form_full .list_item:active {
	color: #66c0f4;

}

.page_profile .form_full .list_item > div{
  display: table-cell;
  vertical-align: middle;

}

.page_profile .form_full .list_item .image{
width: 30px;
padding-right: 5px;
}

.page_profile .form_full .list_item .image .icon{
	  width: 30px;
	  height: 30px;
	text-indent: -999em;
	background: url("../img/icons/user_black.png") no-repeat 50%;
	background-size: 30px;
	padding: 0;
	display: block;
}

.page_profile .form_full .list_item .image .icon.icon_user{
	background: url("../img/icons/user_black.png") no-repeat 50%;
	background-size: 30px;
}

.page_profile .form_full .list_item .image .icon.icon_id{
	background: url("../img/icons/id_black.png") no-repeat 50%;
	background-size: 30px;
}
.page_profile .form_full .list_item .image .icon.icon_email{
	background: url("../img/icons/email_black.png") no-repeat 50%;
	background-size: 30px;
}
.page_profile .form_full .list_item .image .icon.icon_mobile{
	background: url("../img/icons/mobile_black.png") no-repeat 50%;
	background-size: 30px;
}
.page_profile .form_full .list_item .label{
  text-align: left;
  padding-left: 5px;
  border-bottom: 1px solid rgb(200, 205, 210);
	width: 35%;
}
.page_profile .form_full .list_item .info{
	border-bottom: 1px solid rgb(200, 205, 210);
	font-style: italic;
}
.page_profile .form_full .list_item .button{
	border-bottom: 1px solid rgb(200, 205, 210);
	text-align: right;
	width: 50px;
}
.page_profile .form_full .list_item .button button{
	display: inline-block;
	background-color: rgb(102, 192, 244);
	width: 40px;
	line-height: 20px;
	height: 20px;
	font-size: 12px;
}

.page_profile .content_help{
	color: rgb(23, 26, 33);
	font-size: 13px;
	padding: 0 10px;
}

.page_profile .content_help p{
	padding-bottom: 5px;
	line-height: 1.4em;
}


/* 
.page_profile .form_full .btn{
	  width: 85%;
  margin-top: 10px;
}
 */

 
 
.page_profile .btn_group{
    margin: 0 auto;
        padding: 0 20px;
    padding-bottom: 0;
    text-align: center;
    width: 100%;
    display: table;
    vertical-align: middle;
	    margin-top: 10px;
}
.page_profile .btn_group div{
	display: table-cell;
    vertical-align: middle;
	width: 50%;
}

.page_profile .btn_group div:first-of-type{
	padding-right: 5px;
}
.page_profile .btn_group div:last-of-type{
	padding-left: 5px;
}
 
 
 
.page_profile .security_content{
	    padding: 10px;
		text-align: center;
}
.page_profile .security_content .title{
    font-size: 14px;
    margin-bottom: 20px;
}

.page_profile .security_content .title span{
	color: rgb(29, 120, 243);
	font-weight: 700;
	
}
.page_profile .security_content .title button{
    font-weight: 300;
    font-size: 14px;
    text-decoration: underline;
    color: rgb(29, 120, 243);
    display: table;
    padding: 5px;
    margin: 0 auto;
}

.page_profile .security_content input{
    border: none;
    border-bottom: 1px solid rgb(200, 205, 210);
    width: 75%;
    height: 30px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
	
}
 
 
 
 
 
 
/* page_payments */


.page_payments .grp_profile{
	display: table;
	vertical-align: middle;
	width: 100%;
}

.page_payments .grp_profile > div{
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding: 10px 0;
}

.page_payments .profile{
  padding: 5px 15px 0 20px;
  border-left: 1px rgb(213, 213, 213) solid;
}



.page_payments .profile > div {
  display: table-cell;
  vertical-align: middle;
}

.page_payments .profile .avatar{
width: 45px;
  height: 45px;
}

.page_payments .profile .avatar img {
width: 45px;
  height: 45px;
}

.page_payments .profile .info {
	padding: 0 10px;
}

.page_payments .profile  .info .name {
  background-color: rgb(29, 120, 243);
  padding: 1px 5px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
    font-size: 13px;
  margin-bottom: 5px;
  display: table;
  font-weight: 500;
}
.page_payments .profile  .info .game {
	color: #000;
	font-weight: 500;
	font-size: 13px;
	  margin-bottom: 5px;
	    display: table;
}

.page_payments .profile  .info .coin{
  color: rgb(29, 120, 243);
  font-size: 13px;
  font-weight: 700;
    display: table;
}

.page_payments .profile  .info .acc {
  color: #000;
  font-size: 13px;
  font-weight: 700;
    display: table;
	margin-bottom: 5px;
}

.page_payments .profile  .info .acc_has {
  color: rgb(29, 120, 243);
}

.page_payments .profile .logout {
	width: 70px;
}
.page_payments .profile .btn_logout {
background: rgb(102, 192, 244);
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-style: normal;
  height: 24px;
  line-height: 20px;
  padding: 0 5px;
  text-align: center;
  text-decoration: none;
  width: 70px;
}



.page_payments .bg_body{
  background-color: rgb(245, 245, 245);
  border-radius: 0 0 8px 8px;
  padding: 0 20px 15px;
}

.page_payments .form_list{
  margin: 0 auto;
    padding: 10px 0 0;
  border-top: 3px solid rgb(102, 192, 244);
}


.page_payments .form_list .title{
	  font-size: 14px;
  padding-bottom: 8px;
  font-weight: 500;
}

.page_payments .form_list .list_item{
	display: table;
	vertical-align: middle;
	width: 100%;
	color: rgb(23, 26, 33);
	font-size: 14px;

}


.page_payments .form_list.hasselect .list_item:hover,
.page_payments .form_list.hasselect .list_item:focus,
.page_payments .form_list.hasselect .list_item:active {
	color: #66c0f4;

}

.page_payments .form_list .list_item > div{
  display: table-cell;
  vertical-align: middle;

}

.page_payments .form_list .list_item .image{
	width: 30px;
	padding-right: 8px;
}

.page_payments .form_list .list_item .image .icon{
	width: 30px;
	height: 30px;
	text-indent: -999em;
	background: url("../img/icons/icon_card.png") no-repeat 50%;
	background-size: 30px;
	padding: 0;
	display: block;
}

.page_payments .form_list .list_item .image .icon.icon_card{
	background: url("../img/icons/card_black.png") no-repeat 50%;
	background-size: 30px;
}

.page_payments .form_list .list_item .image .icon.icon_coin{
	background: url("../img/icons/coin_black.png") no-repeat 50%;
	background-size: 30px;
}
.page_payments .form_list .list_item .image .icon.icon_bank{
	background: url("../img/icons/bank_black.png") no-repeat 50%;
	background-size: 30px;
}
.page_payments .form_list .list_item .image .icon.icon_credit{
	background: url("../img/icons/credit_black.png") no-repeat 50%;
	background-size: 30px;
}

.page_payments .form_list .list_item .label{
  text-align: left;
  border-bottom: 1px solid rgb(200, 205, 210);
    height: 34px;
    line-height: 34px;
}
.page_payments .form_list .list_item .info{
  text-align: right;
  color: rgb(29, 120, 243);
  font-style: normal;
  font-weight: 700;
  border-bottom: 1px solid rgb(200, 205, 210);
}

.page_payments .form_list .type .info, .page_payments .form_list .type .label{
    border-bottom: 1px solid rgb(102, 192, 244) !important;
}
.page_payments .form_list .list_item .label input{
  border: none;
  width: 100%;
  height: 34px;
  line-height: 34px;
      background-color: transparent;
	      padding-left: 5px;
}


.page_payments .form_list .list_item .label input::-webkit-input-placeholder {color: rgb(23, 26, 33);font-weight: 300; font-style: italic;font-size:14px;}
.page_payments .form_list .list_item .label input:-moz-placeholder {color: rgb(23, 26, 33);font-weight: 300;font-style: italic;font-size:14px;}
.page_payments .form_list .list_item .label input::-moz-placeholder {color: rgb(23, 26, 33);font-weight: 300;font-size:14px;}
.page_payments .form_list .list_item .label input:-ms-input-placeholder {color: rgb(23, 26, 33);font-weight: 300;font-size:14px;}


.page_payments .form_list .list_item .label select{
    width: 100%;
    border: none;
    font-weight: 300;
    font-size: 14px;
    height: 34px;
    background-color: transparent;

    overflow: hidden;
    background: url("../img/icons/arrow_down_blue.png") no-repeat right 50%;
    background-size: 30px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
}

.page_payments .form_list .list_item .label select option{
    font-size: 14px;
    height: 34px;

}


 
 

.page_payments .btn_group{
    margin: 0 auto;
        padding: 0 20px;
    padding-bottom: 0;
    text-align: center;
    width: 100%;
    display: table;
    vertical-align: middle;
	    margin-top: 10px;
}
.page_payments .btn_group div{
	display: table-cell;
    vertical-align: middle;
	width: 50%;
}

.page_payments .btn_group div:first-of-type{
	padding-right: 5px;
}
.page_payments .btn_group div:last-of-type{
	padding-left: 5px;
}
 
 
 
 
 
 
 
 
 
 
 
 /*----page_authen----*/
.page_authen{
}
.page_authen .hotline{
    padding: 10px 0 0 !important;
}

.page_authen .bg_body{
	background-color: rgb(245,245,245);
	border-radius: 0 0 8px 8px;
	padding-bottom: 10px;
}
	
.page_authen .logo_tab {
	  display: table;
	  width: 100%;
}
	
	
.page_authen .logo{
  text-align: center;
  display: block;
  margin: 10px auto;
  width: auto;
  height: 40px;
}

	
.page_authen ul.tabs{
  display: table;
  vertical-align: middle;
  list-style: none;
  width: 95%;
    padding: 0 20px;
}

.page_authen  ul.tabs li{
	color: rgb(195, 195, 195);
	display: table-cell;
	padding: 10px 15px;
	cursor: pointer;
	width: 32%;
	text-align: center;
	font-weight: 500;
	border-right: 1px solid #eee;
}

.page_authen  ul.tabs li:last-of-type{
	border-right: none;
}
.page_authen  ul.tabs li.current{
  color: rgb(102, 192, 244);
  border-bottom: 3px solid rgb(102, 192, 244);
}
.page_authen  .tab-content{
    color:#fff;
      padding: 10px 10px 0;
    display: none;
}
.page_authen .tab-content.current{
    display: block;
}

.page_authen .tab-content .title{
    font-size: 13px;
    font-weight: 500;
    padding: 5px 0;
}


.page_authen .form_full{
	margin: 0 auto;
  padding: 10px 80px;
	padding-bottom: 0;
	text-align: center;
}

.page_authen .btn_group{
    margin: 0 auto;
        padding: 0 20px;
    padding-bottom: 0;
    text-align: center;
    width: 100%;
    display: table;
    vertical-align: middle;
}
.page_authen .btn_group div{
	display: table-cell;
    vertical-align: middle;
	width: 50%;
}

.page_authen .btn_group div:first-of-type{
	padding-right: 5px;
}
.page_authen .btn_group div:last-of-type{
	padding-left: 5px;
}



.page_authen .btn_login{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
	margin-bottom: 5px;
}

.page_authen .btn_fb{
    color: #FFF;
	padding-left: 10px;
    /* background-image: url("../img/icons/facebook.png"); */
    background-repeat: no-repeat;
    background-position: 12px 50%;
    background-size: 23px;
}

 
 
 
 

/*RESPONSIVE*/
@media screen and (max-width:800px) {}
@media screen and (max-width:768px) {}
@media screen and (max-width:720px) {}
@media screen and (max-width:640px) {}
@media screen and (max-width:565px) {}
@media screen and (max-width:360px) {
	#ewrap{
		max-width: 320px;
		width: 94%;
	}
	
	.page_login .logo_tab {
		  display: table-caption;
		  width: 100%;
	}
	.page_login .logo {
	  text-align: center;
	  display: block;
	  margin: 20px auto;
	  width: auto;
	  height: 40px;
	}

	.page_login ul.tabs{
		width: 100%;
	}
	
	.page_login ul.tabs li{
		width: 50%;
	}
	
	.page_payments  .grp_profile > div {
	  display: table;
	  width: 100%;
	}
	
	.page_payments .grp_profile > div:last-of-type{
		padding-top: 0;
	}
	
	.page_payments .profile:last-of-type{
		  border-left: none;
	}
	
	.page_chon  .btn_pln{
		width: 100%;
	}
	.page_authen .form_full {
		padding: 20px;
		padding-bottom: 0;
	}
}

@media screen and (max-width:320px) {

}

