<div id="ewrap" class="page_login">
    <button class="btn_close">Close</button>
    <ul class="tabs">
        <div class="logo_tab"><img class="logo" src="webview/assets/img/logo_full.png"></div>
        <li id="atab-1" class="tab-link current" data-tab="tab-1">ĐĂNG KÝ</li>
        <li id="atab-2" class="tab-link" data-tab="tab-2">ĐĂNG NHẬP</li>
    </ul>
	<div class="bg_body">
		<div id="tab-1" class="tab-content current">
			<form ng-submit="doRegister()">
				<div class="form_full">
					<input placeholder="Tên tài khoản" type="text" id="username" name="username" ng-model="signup.username">
					<input placeholder="Mật khẩu" type="password" id="password" name="password" ng-model="signup.password">
					<input placeholder="Nhập lại mật khẩu" type="password" id="repassword" name="repassword"
						   ng-model="signup.rePassword">

					<div class="dieukhoan"><input type="checkbox" name="agree" id="agree" ng-model="signup.readed">
						<label for="agree">Đọc và đồng ý <button>điều khoản sử dụng</button>.</label></div>
					<div class="activestatus"></div>
					<button id="submit" class="btn btn_login smoke" ng-disabled="!signup.readed" >Đăng Ký</button>
				</div>
			</form>
		</div>
		<div id="tab-2" class="tab-content">
			<form ng-submit="doLogin()">
				<div class="form_full">
					<input placeholder="Tên tài khoản" type="text" name="username" ng-model="login_username">
					<input placeholder="Mật khẩu" type="password" name="password" ng-model="login_password">

					<div class="activestatus"></div>
					<div class="tcolumn">
						<div class="dieukhoan"><input type="checkbox" name="remember" id="remember" value="remember"><label
								for="remember">Lưu tài khoản</label></div>
						<div class="dieukhoan"><button>Quên mật khẩu?</button></div>
					</div>
					<button type="submit" class="btn btn_login smoke">Đăng nhập</button>
				</div>
			</form>
		</div>
		<div class="btn_group">
			<div>
				<button class="btn fb_color">Facebook</button>
			</div>
			<div>
				<button class="btn btn_cc green">Chơi ngay</button>
			</div>
		</div>
		<div class="hotline">Hotline: <span>23895677567</span></div>
	</div>
</div>
<script>
    $(document).ready(function () {
        createTabs();
    });
</script>