<!DOCTYPE html>
<html><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>Chơi ngay</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <link rel="icon" href="assets/img/logo_circle.png" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="assets/img/logo_circle.png"/>
    <link rel="shortcut icon" href="assets/img/logo_circle.png"/>

    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/script.js"></script>
	<link href="http://fonts.googleapis.com/css?family=Roboto:500,700italic,300,700,500italic,300italic&amp;subset=all" rel="stylesheet" type="text/css">
</head>
<body>

<div id="ewrap" class="page_chon">
	<button class="btn_close">Close</button>
	
	
	<div class="logo_tab">
		<img class="logo" src="assets/img/logo_full.png">
	</div>
	
	<div class="bg_body">
		<div class="account_box">
			<div class="account">Tài khoản (UID): <span class="name">2356879345</span></div>
			<div class="update">
				<button class="btn btn_update">Update</button>
			</div>
		</div>
		<div class="lbl_gameacc">Bạn đang dùng tài khoản chơi ngay. Xác thực để Bảo vệ an toàn cho tài khoản và nhận được các Ưu đãi từ hệ thống.</div>
		
		
		<button class="btn btn_pln green">Vào game</button>
		<button class="btn btn_pln blue">Xác thực tài khoản</button>
		<div class="hotline">Hotline: <span>23895677567</span></div>
	</div>
</div>




</body></html>