<h1>Profile</h1>
<table>
    <tr>
        <td>ID</td>
        <td>{{gamer.id}}</td>
    </tr>
    <tr>
        <td>email</td>
        <td>{{gamer.email}}</td>
    </tr>
    <tr>
        <td>username</td>
        <td>{{gamer.username}}</td>
    </tr>
    <tr>
        <td>mobile</td>
        <td>{{gamer.mobile}}</td>
    </tr>
    <tr>
        <td>name</td>
        <td>{{gamer.name}}</td>
    </tr>
    <tr>
        <td>is_playnow</td>
        <td>{{gamer.is_playnow}}</td>
    </tr>
    <tr>
        <td>refund</td>
        <td>{{gamer.refund}}</td>
    </tr>
</table>