<h1>Signup</h1>
<form >
    <div>
        <label for="username">Username:</label>
        <input type="text" ng-model="username" name="username" id="username"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" ng-model="password" name="password" id="password"/>
    </div>
    <div>
        <label for="re_password">Re Password:</label>
        <input type="password" ng-model="rePassword" name="rePassword" id="re_password"/>
    </div>
    <button type="submit" ng-click="register()">Signup</button>
</form>